html,body{
    margin:0;
    padding:0;
}
.navigation-bar{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.navigation-bar div{
    font-size: xx-large;
    font-weight: bold;
    padding: 20px;
}

.navigation-items{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding:0;
    margin: 0;
}

.navigation-items li{
    padding: 10px 20px;
    font-size: 2rem;
}

.navigation-items li span{
    font-size: medium;
    background-color: red;
    position: absolute;
    padding: 3px;
    border-radius: 5px;
}